/* Màn hình máy tính xách tay và máy tính để bàn */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar .menu {
        margin-left:1%;
    }
    .wrapper_product{
        width:33.3%;
    }      
    .quick_choices{
        transform: translateX(-68px);
    }
}
/* Thiết bị máy tính bảng */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* .navbar .menu{
        margin-left:-2.3%;
    } */
    .boxItem{
        transform: translateX(70px);
    }
    .banner_buynow{
        transform: translateX(40px);
    }
    .box_search{
        width:500px;
        max-width: 300px;
        margin-left:30px;
    }
    .box_search input{
        width:300px;
        height:40px;
        padding:0 10px;
    }
    .box_logo{
        width:100px;
        margin-right: -20px;
    }
    .menu{
        padding-right:-1%;
        margin-right:-1%;

    }
    .cart{
        margin-left: -1%;
        margin-right:1%;
    }
    .boxlist .list{
        width:60%;
    }
    .list ul li{
        padding:10px 20px;
        max-width: 150px;
    }  
    
    .list1 ul{
        margin-left: 15%;
        align-items: center;
    }
    .list1 ul li{
        padding: 5px 10px;
        width:120px;
        height: 50px;
        max-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list1 ul li a{
        text-decoration: none;
        font-size: 8x;
        color: #ff702a;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }
    .wrapper_product{
        width:33.3%;
    }
    .wrapper_cart{
        width:40%;
    }
    .cart-img {
        max-height: 90%; /* Adjust this value to your preference */
        width: 90%; /* Ensure the width scales proportionally with the height */
        object-fit: cover;
    }
    .footer .col{
        width:33.3%;
    }
    .marge{
        padding-left:10%;
    }
    .go_top{
        right:8%;
        bottom:5%;
    }
    .block_prev{
        transform: translateX(38px);
    }
    .voucher{
        margin-right: 10px;
    }
    .voucher input{
        width:70px;
    }
    .vouchers{
        transform: translateX(120px);
    }
    .text1_voucher{
        white-space: nowrap;
        font-size: 12px;
    }
    .text2_voucher{
        margin-bottom: 10px;
    }
    #fix_responsive{
        white-space: nowrap;
        transform: translateX(120px);
    }
    .box_btn_selling{
        transform: translateX(20px);
    }
    .btn_flash{
        transform: translateX(-20px);
    }
} 

/* Thiết bị di động */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .box_search{
        width:200px;
        max-width: 20%;
        margin-left:2%;
        margin-right:1%;
    }
    .box_search input{
        width:200px;
        height:40px;
        padding:0 10px;
    }
    .box_logo{
        width:100px;
        margin-left :30%;
        margin-right :30%;
    }
    .menu{
        display:none;
    }
    .cart{
        margin-left: -1%;
        margin-right:1%;
    }
    
    .list ul li{
        padding:9px 9px;
        max-width: 55%;
    }  
    
    .list1 ul{
        margin-left: 15%;;
        align-items: center;
    }
    
    .list1 ul li{
        padding: 10px 20px;
        margin: 0 10px;
        width:120%;
        height:100%;
        
    }
    .list1 ul li a{
        text-decoration: none;
        font-size: 15px;
        color: #ff702a;
        font-weight: bold;
    }
    .boxItem, .boxlist,.link, #contact{
        width:120%;
    }
    .banner_buynow{
        width:120%;
    }
    .box_product{
        width:120%;
    }
    .wrapper_product{
        width:33.3%;
    }
    .wrapper_cart{
        width:40%;
    }
    .cart-img {
        max-height: 90%; /* Adjust this value to your preference */
        width: 90%; /* Ensure the width scales proportionally with the height */
        object-fit: cover;
    }
    .footer{
        padding:20px;
    }
    .footer .main{
        display: flex;
        flex-direction:column;
        align-items:first baseline;
      }
    .footer .col {
        margin-bottom: 20px;
      }
    .footer .marge{
        margin-left: -10px;
        margin-top: -10%;
    }
    
    .footer .col h4 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    
    .footer .col.none {
        display: none;
      }
    
    .footer .social {
        margin-top: 10px;
      }
    
      .social a {
        margin-top:10px;      
      }
}


/* Thiết bị di động nhỏ */
@media screen and (max-width: 575px) {
    body{
        width: 350px;
    }
    .navbar ul{
    width:100%;
   }
   .list{
    display: none;
   }
   .navbar ul li:nth-child(3){
    width:140px;
   }
   .menu{
    transform: translateX(-18px);
   }
    #fix_pos_ipse_account{
        border: none;
        max-width: 140px;
        transform: translateX(-10px);
    }
    .box_search{
        display:none;
    }
    .box_account{
        border: none;
        width: 140px;
    }
    .cart{
        max-width: 100px;
        transform: translateX(-5px);
    }
    .box_cart{
        border: none;
        max-width: 140px;
    }
    .box_logo{  
        display:none;
    }
    .banner_buynow{
        display:none;
    }
    .boxItem{
        display:none;
    }
    #mini{
        display: none;
    }
    .utilities{
        width: 90%;
        transform: translateX(10px);
    }
    .box_utilities{
        display:flex;
        justify-content: space-between;
    }
    .box_utilities ul{
        margin-left:-20%;
    }
    .box_utilities ul li a{
        margin: .5em;
    }
    .box_utilities ul li a img {
        width: 40px;
    }
    .box_voucher {
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    .voucher {
        width: unset; 
        max-width: unset; 
        margin-bottom: 10px;
    }
    .box_timeSale{
        width:100%;
        min-width: 110%;
        min-height: 110%;
        padding: 3px 0;
    }
    .sale{
        max-width: 260px;
        max-height: 62px;
    }
    .btn_flash{
        margin-top: 10px;
    }
    .sale a{
        font-size: 8px;
        max-width: 30px;
    }
    .box_secs{
        min-width: 30px;
        max-width: 30px;
    }
    .box_btn_selling button{
        padding:10px 20px;
    }
    #fix_responsive{
        font-size: 24px;
        transform: translateX(10px);
    }
    #fix_responsive_1{
        transform: translateX(10px);
        font-size: 18px;
    }
    .box_product{
        width: 100%;
    }
    .block_prev{
        transform: translateX(10px);
    }
    .block_next{
        transform: translateX(16px);
    }
    .products{
        transform: translateX(15px);
    }
    .wrapper_dot{
        background: #ffdecf;
        /* color: #b5313a; */
        color: #ff702a;
    }
    .wrapper_cart{
        width:50%;
        height:60%;
    }
    .cart-img {
        max-height: 90%; /* Adjust this value to your preference */
        width: 90%; /* Ensure the width scales proportionally with the height */
        object-fit: cover;
    }
    .footer{
        padding:20px;
    }
    .footer .main{
        display: flex;
        flex-direction:column;
        align-items:first baseline;
    }
    .footer .col {
        margin-bottom: 20px;
    }
    .footer .marge{
        margin-left: -10px;
        margin-top: -10%;
    }
    
    .footer .col h4 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .footer .col.none {
        display: none;
    }
    
    .footer .social {
        margin-top: 10px;
    }
    
    .social a {
        margin-top:10px;      
    }

    .go_top{
        right:5%;
        bottom: 5%;
    }
    .wrapper_cart{
        width:100%;
        height:20vh;
     }
    .wrapper_cart.active{
        right:0%;
    }
    #contact{
        min-width: 110%;

    }
}   

@media screen and (min-width: 768px){
    #contact{
        min-width: 120%;
    }
    .box_timeSale{
        min-width: 120%;
    }
    .products{
        transform: translateX(25px);
    }
    .block_next{
        transform: translateX(52px);
    }
    #fix_responsive{
        font-size: 24px;
        transform: translateX(30px);
    }
    #fix_responsive_1{
        transform: translateX(30px);
        font-size: 18px;
    }
    .vouchers{
        transform: translateX(20px);
    }
    .utilities{
        transform: translateX(30px);
    }
    .title_sale{
        transform: translateX(20px);
    }
}